:root {
  --background: #aedcc0;
  --title-text: #343e3d;
  --accent: #607466;
  --accent-hover: #526357;
  --accent-active: #48574c;
  --text-main: #e9ecef;
  --text-main-accent: #c9ced4;
}

::selection {
  background-color: var(--accent);
  color: var(--text-main);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  position: fixed;
}

a {
  text-decoration: none;
}

.back-arrow {
  color: var(--accent);
  text-align: center;
  font-family: 'EB Garamond';
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-left: 20px;
  transition: color 0.15s;
}

.back-arrow:hover {
  color: var(--accent-hover);
}

main {
  background: var(--background);
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-text {
  color: var(--title-text);
  text-align: center;
  font-family: 'EB Garamond';
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 125px 0 75px 0;
}

@media screen and (max-width: 1500px) {
  .header-text {
    margin-top: 100px;
  }
}

.options-box {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}

.option {
  width: 300px;
  height: 450px;
  flex-shrink: 0;
  padding: 15px;

  border-radius: 15px;
  border: 3px solid var(--title-text);
  background: var(--accent);
}

.option-name {
  margin: 0;
  margin-bottom: 20px;

  color: var(--text-main);
  font-family: 'EB Garamond';
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.settings-text {
  color: #fff;
  font-family: 'EB Garamond';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.setting {
  color: #fff;
  font-family: 'EB Garamond';
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.reveal-buttons {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.reveal-manual-button,
.reveal-auto-button {
  width: 123px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 35px;
  border: 3px solid var(--title-text);

  background-color: var(--accent-hover);
  color: #fff;
  font-family: 'EB Garamond';
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reveal-manual-button:hover,
.reveal-auto-button:hover {
  background-color: var(--accent-active);
  cursor: pointer;
}

.setting-box {
  display: flex;
  align-items: center;
}

.digits-setting-input {
  width: 100px;
  height: 20px;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--text-main);
  outline: none;
  padding: 5px 0;

  font-size: 20px;
  color: var(--text-main);
  font-family: 'EB Garamond';
}

.start-pos-input {
  width: 100px;
  height: 20px;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--text-main);
  outline: none;
  padding: 5px 0;

  font-size: 20px;
  color: var(--text-main);
  font-family: 'EB Garamond';
}

.reveal-interval-input {
  width: 100px;
  height: 20px;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--text-main);
  outline: none;
  padding: 5px 0;

  font-size: 20px;
  color: var(--text-main);
  font-family: 'EB Garamond';
}

.start-button {
  width: 100%;
  height: 55px;
  flex-shrink: 0;

  background-color: var(--accent-hover);
  border: 3px solid var(--title-text);
  border-radius: 35px;

  color: #fff;
  font-family: 'EB Garamond';
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.start-button:hover {
  background-color: var(--accent-active);
  cursor: pointer;
}

.start-button:active {
  background-color: var(--accent-hover);
}
